.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.DataForm {
  display: flex;
}

.result {
  padding: 10px;
}

.result-header {
  display: flex;
  padding: 10px;
}

.result-header-item {
  flex: 1;
  text-align: center;
}

.result-body {
  border: 1px solid #000;
  padding: 20px 10px;
  border-radius: 20px;
}

.result-body-row {
  display: flex;
}

.result-body-row + .result-body-row {
  padding-top: 10px;
}

.result-body-item {
  flex: 1;
  text-align: center;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}

.input {
  padding-top: 10px;
}

.input input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
}

.submit button {
  padding: 10px;
  height: 37px;
  border-radius: 5px;
  border: 1px solid;
}